
<div class="mat-elevation-z8">
  <div style="padding-left: 1%; padding-top: 1%;">
    <mat-form-field>
      <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Filter text">
    </mat-form-field>
  </div>
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="city_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
      <td mat-cell *matCellDef="let element"> {{element.city_name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Country </th>
      <td mat-cell *matCellDef="let element"> {{element.country}} </td>
    </ng-container>
  
    <ng-container matColumnDef="temperature">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Temperature </th>
      <td mat-cell *matCellDef="let element"> {{element.temperature}}&deg;C (Max: {{element.max_temperature}}&deg;C / Min: {{element.min_temperature}}&deg;C) </td>
    </ng-container>
  
    <ng-container matColumnDef="feels_like">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Feels like </th>
      <td mat-cell *matCellDef="let element"> {{element.feels_like}}&deg;C </td>
    </ng-container>

    <ng-container matColumnDef="humidity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Humidity </th>
      <td mat-cell *matCellDef="let element"> {{element.humidity}} </td>
    </ng-container>

    <ng-container matColumnDef="weather_description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Weather Description </th>
      <td mat-cell *matCellDef="let element"> {{element.weather_description}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  
</div>

<br>
<br>
<app-graph></app-graph>